/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */
.page {
  min-height: 100vh;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  padding: 10px;
  font-family: var(--font-family);
  background-color: var(--bg-color);
}
.decorated-zone {
  position: relative;
}
.decorated-zone:before,
.decorated-zone::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
}
.decorated-zone::before {
  top: 0px;
  right: 0px;
  border-block-start: 1px solid var(--decor-color);
  border-inline-end: 1px solid var(--decor-color);
}
.decorated-zone::after {
  left: 0px;
  bottom: 20px;
  border-block-end: 1px solid var(--decor-color);
  border-inline-start: 1px solid var(--decor-color);
}
.decorated-element {
  position: absolute;
  top: 0px;
  right: 28px;
  color: var(--decor-color);
}
.ellipse {
  position: absolute;
  box-shadow: 0px 0px 4px 2px var(--accent-color);
  color: var(--decor-color);
  border-radius: 100%;
  width: 9px;
  height: 9px;
  top: 8px;
  right: 9px;
  background: var(--decor-color);
}
.header {
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  padding: 0px;
  max-height: 100vh;
  background-image: var(--bg-image);
  margin-bottom: 66px;
}
.header__theme-menu {
  justify-self: end;
  align-self: center;
}
.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-right: 0px;
  margin-top:65px;
}
.header__theme-menu-button {
  color: var(--decor-color);
  padding: 2px 16px;
  border: 1px solid transparent;
  background: transparent;
}
.header__theme-menu-button:hover {
  border: 1px solid rgba(255, 0, 112, 0.4);
}
.header__theme-menu-button:focus {
  border-block-end-color: var(--decor-color);
}
.header__theme-menu-button_active {
  border-color: var(--decor-color);
  pointer-events: none;
}
.no-focus-h1 {
  color: var(--color-h1);
  line-height: 83%;
  text-shadow: var(--shadow);
  margin-block-start: 63px;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-weight: var(--font-weight-bold);
}
.no-focus-p {
  font-size: var(--font-size-h2);
  background-color: var(--background-h2-text);
  font-weight: var(--font-weight-bold);
  color:var(--color-name-text);
  max-width: 100%;
  width: 355px;
  margin-inline-start: auto;
  margin-top:53px;
}
.main {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-top:-70px;
}
.text-1,
.text-2,
.text-3,
.gallery-section {
  display: flex;
  flex-direction: column;
  gap: 0px;
}
.question-text {
  color: var(--color-h3);
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-bold);
  line-height: 23.4px;
  margin-top:34px;
}
.question-text-2 {
  color: var(--color-h3);
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-bold);
  line-height: 23.4px;
  margin-top:28px;
}
.card {
  display: grid;
  gap:10px;
}
.content-grid {
  margin-top:20px;
  display: grid;
  gap: 20px;
}
.name-text {
  background-color: var(--background-h2-text);
  color: var(--color-name-text);
  margin-top:0px;
}
.text-main {
  color: var(--color-text);
  font-style: normal;
  font-size: var(--font-size-base);
}
.link {
  text-shadow: var(--shadow-small);
  text-decoration: none;
  border: 1px solid transparent;
}
.link:hover {
  border-block-end-color: var(--color-text);
}
.link:focus {
  outline: none;
}
.link:focus-visible {
  border-color: var(--color-text);
}
.cards-grid {
  display: grid;
  margin-top: 20px;
  gap: 24px; 
}
.text-3 {
  margin-top: -10px;
}
.tips-grid {
  margin-top: 20px;
  display: grid;
  gap: 30px;
}
.tip-title {
  background-color: var(--accent-color);
  color: var(--color-name-text);
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-normal);
  margin-top:-9px;
}
.gallery {
  display: grid;
  gap: 10px;
  margin-top:10px;
}
.gallery-section {
  margin-top:28px;
}
.gallery-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.footer {
  display: grid;
  place-items: center;
  max-height: 100vh;
  margin-top:50px;
}
.footer .no-focus-h1 {
  margin-top:-18px;
}
.name-text-normal {
  font-style: normal;
}
@media (min-width: 768px) {
  .page {
    padding: 0px;
  }
  .decorated-zone::before {
    top: 20px;
    right: 20px;
  }
  .decorated-zone::after {
    bottom: 20px;
    left: 20px;
  }
  .decorated-element {
    top: 20px;
    right: 48px;
  }
  .ellipse {
    top: 28px;
    right: 29px;
  }
  .header {
    padding: 20px;
    margin-block-end:20px;
  }
  .header__theme-menu-list {
    padding-top:24px;
    margin-block-start: 148px;
  }
  .no-focus-h1 {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    margin-inline-start: -20px;
    margin-block-start:169px;
  }
  .no-focus-p {
    min-width: 364px;
    margin-block-start: 162px;
  }
  .content-grid {
    margin-top:49px;
  }
  .main {
    gap: 40px;
  }
  .text-1 {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    padding: 0 20px;
    margin-top:60px;
  }
  .text-2 {
    padding: 0px 20px;
  }
  .cards-grid {
    display: grid;
    gap: 21px;
    margin-top:20px;
  }
  .question-text {
    max-width: 236px;
    margin-top:50px;
  }
  .question-text-2 {
    margin-top:39px;
    max-width: 236px;
  }
  .cards-grid {
    gap:20px;
  }
  .text-main {
    line-height: 23.4px;
  }
  .tips-grid {
    margin-top:50px;
  }
  .text-3 {
    padding: 0 20px;
    margin-top:-14px;
  }
  .text-3-grid {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
  }
  .card {
    gap:10px;
  }
  .gallery-section {
    padding: 0 20px;
    margin-top: 36px;
  }
  .gallery {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, minmax(100px, auto));
    gap: 20px;
    margin-top:18px;
  }
  .gallery-img:nth-child(1) {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
  }
  .gallery-img:nth-child(2) {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
  }
  .gallery-img:nth-child(3) {
    grid-column: 1 / 2;
    grid-row: 2 / 4;
  }
  .gallery-img:nth-child(4) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }
  .gallery-img:nth-child(5) {
    grid-column: 2 / 4;
    grid-row: 3 / 4;
  }
  .footer {
    padding: 20px;
  }
  .footer .no-focus-h1 {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    margin-left: 0px;
    margin-top:-11px;
    margin-bottom:-20px;
  }
}
@media (min-width: 1024px) {
  .header__theme-menu {
    justify-self: center;
    align-self: start;
  }
  .header__theme-menu-list {
    flex-direction: row;
    margin-top:-25px;
  }
  .no-focus-h1 {
    margin-top:273px;
  }
  .no-focus-p {
    margin-top:114px;
    min-width: 491px;
  }
  .decorated-zone::after {
    margin-bottom:-90px;
  }
  .text-1 {
    margin-top:41px;
    display: grid;
    gap: 10px;
  }
  .text-2 {
    margin-top:-40px;
  }
  .text-3 {
    margin-top:-50px;
  }
  .question-text {
    min-width: 314px;
    margin-top:47px;
  }
  .question-text-2 {
    min-width: 314px;
    margin-top:37px;
  }
  .content-grid {
    margin-top:48px;
  }
  .main {
    gap: 82px;
    margin-top:60px;
  }
  .text-3-grid {
    display: grid;
    gap:10px;
    margin-top:-px;
  }
  .cards-grid {
    display: flex;
    gap: 20px;
    flex-grow: 1;
  }
  .card {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  .tip-title {
    margin-top:-10px;
  }
  .gallery-section {
    margin-top:-1px;
    margin-bottom:10px;
  }
  .gallery {
    margin-top:20px;
  }
  .tips-grid {
    margin-top:47px;
  }
  .footer .no-focus-h1 {
    display: block;
    margin-top: 280px;
    margin-bottom: 188px;
  }
  .footer {
    min-height: auto;
    overflow: visible;
  }
}
