/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */
.page {
  min-height: 100vh;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  padding: 10px;
  font-family: var(--font-family);
  background-color:var(--bg-color);
  
}
.decorated-zone {
  position: relative;
}
.decorated-zone:before,
.decorated-zone::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
}
.decorated-zone::before {
  top: 20px;
  right: 20px;
  border-block-start: 1px solid var(--decor-color);
  border-inline-end: 1px solid var(--decor-color);
}
.decorated-zone::after {
  bottom: 20px;
  left: 20px;
  border-block-end: 1px solid var(--decor-color);
  border-inline-start: 1px solid var(--decor-color);
}
.decorated-element {
  position: absolute;
  top: 20px;
  right: 48px;
  color: var(--decor-color);
}
.ellipse {
  position: absolute;
  box-shadow: 0px 0px 4px 2px var(--accent-color);
  color: var(--decor-color);
  border-radius: 100%;
  width: 9px;
  height: 9px;
  top: 28px;
  right: 29px;
  background: var(--decor-color);
}
.header {
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  min-height: 100vb;
  padding: 10px;
  margin-block-end: 40px;
  background-image: var(--bg-image);
}
.header__theme-menu {
  justify-self: end;
  align-self: center;
}
.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-block-start: 75px;
}
.header__theme-menu-button {
  color: var(--decor-color);
  padding: 2px 13px;
  border: 1px solid transparent;
  background: transparent;
}
.header__theme-menu-button:hover {
  border: 1px solid #ff007066;
}
.header__theme-menu-button:focus {
  border-block-end-color: var(--decor-color);
}
.header__theme-menu-button_active {
  border-color: var(--decor-color);
  pointer-events: none;
}
.no-focus-h1 {
  color: var(--color-h1);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-size: var(--font-size-h1);
  line-height: 83%;
  text-shadow: 4px 4px 0 var(--accent-color);
  margin-block-end: 55px;
}
.no-focus-p {
  color: var(--font-size-h2);
  background-color: var(--background-h2-text);
  font-weight: var(--font-weight-bold);
  margin-inline-start: auto;
}
.main {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.text-1 {
  display: grid;
  gap: 20px;
  padding: 0 10px;
}
.question-text {
  color: var(--color-h3);
  margin-block-end: 20px;
}
.content-grid {
  display: grid;
  gap: 20px;
}
.name-text {
  background-color: var(--background-h2-text);
  color: var(--font-size-h2);
  height: 23px;
}
.text-main {
  color: var(--color-text);
}

.link {
  text-shadow: var(--shadow-small);
  text-decoration: none;
  border: 1px solid transparent;
}
.link:hover {
  border-block-end-color: var(--color-text);
}
.link:focus {
  outline: none;
}
.link:focus-visible {
  border-color: var(--color-text);
}

.text-2 {
}
.cards-grid {
  display: grid;
  gap: 20px;
}
.card {
  display: grid;
  gap: 10px;
}
.tips-grid {
  display: grid;
  gap: 20px;
}
.tip-title {
  background-color: var(--accent-color);
  color: var(--font-size-h2);
  font-weight: 400px;
}
.gallery-section {
  padding: 0 10px;
}

.gallery-text {
  margin-block-end: 20px;
}
.gallery {
  display: grid;
  gap: 10px;
}
.gallery-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.footer {
  display: grid;
  place-items: center;
  min-height: 100vb;
  padding: 10px;
  position: relative;
}
/* Планшетная версия (768px+) */
@media (width >= 768px) {
  .page {
    padding: 20px;
  }

  .decorated-zone::before {
    top: 20px;
    right: 20px;
  }

  .decorated-zone::after {
    bottom: 20px;
    left: 20px;
  }

  .decorated-element {
    top: 20px;
    right: 48px;
  }

  .header {
    padding: 20px;
    margin-block-end: 60px;
  }

  .no-focus-h1 {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    margin-inline-start: -20px;
  }

  .no-focus-p {
    max-width: 364px;
    margin-block-start: 162px;
  }
  .main {
    gap: 80px;
    margin-block-end: 60px;
  }
  .header__theme-menu-list {
    margin-block-start: 148px;
  }
  .text-1 {
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    padding: 0 20px;
  }
  .text-2 {
    padding: 0 20px;
  }
  .text-3 {
    padding: 0 20px;
  }
  .text-3-grid {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
  }
  .gallery-section {
    padding: 0 20px;
  }

  .gallery {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, minmax(100px, auto));
    gap: 20px;
  }

  .gallery-img:nth-child(1) {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
  }

  .gallery-img:nth-child(2) {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
  }

  .gallery-img:nth-child(3) {
    grid-column: 1 / 2;
    grid-row: 2 / 4;
  }

  .gallery-img:nth-child(4) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }

  .gallery-img:nth-child(5) {
    grid-column: 2 / 4;
    grid-row: 3 / 4;
  }

  .footer {
    padding: 20px;
  }

  .footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}

/* Десктопная версия (1024px+) */
@media (width >= 1024px) {
  .header__theme-menu {
    justify-self: center;
    align-self: start;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  .no-focus-p {
    max-width: 491px;
  }
  .cards-grid {
    grid-template-columns: repeat(3, 1fr);
    display: grid;
  }
}
