/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */
.page {
  min-height: 100vh;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  padding: 10px;
  font-family: var(--font-family);
  background-color: var(--bg-color);
}
.decorated-zone {
  position: relative;
}
.decorated-zone:before,
.decorated-zone::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
}
.decorated-zone::before {
  top: 0px;
  right: 0px;
  border-block-start: 1px solid var(--decor-color);
  border-inline-end: 1px solid var(--decor-color);
}
.decorated-zone::after {
  bottom: 110px;
  left: 0px;
  border-block-end: 1px solid var(--decor-color);
  border-inline-start: 1px solid var(--decor-color);
}
.decorated-element {
  position: absolute;
  top: 20px;
  right: 48px;
  color: var(--decor-color);
}
.ellipse {
  position: absolute;
  box-shadow: 0px 0px 4px 2px var(--accent-color);
  color: var(--decor-color);
  border-radius: 100%;
  width: 9px;
  height: 9px;
  top: 28px;
  right: 29px;
  background: var(--decor-color);
}
.header {
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  min-height: 100vb;
  padding: 0px;
  background-image: var(--bg-image);
}
.header__theme-menu {
  justify-self: end;
  align-self: center;
}
.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-right: 0px;
  margin-top:65px;
}
.header__theme-menu-button {
  color: var(--decor-color);
  padding: 2px 16px;
  border: 1px solid transparent;
  background: transparent;
}
.header__theme-menu-button:hover {
  border: 1px solid #ff007066;
}
.header__theme-menu-button:focus {
  border-block-end-color: var(--decor-color);
}
.header__theme-menu-button_active {
  border-color: var(--decor-color);
  pointer-events: none;
}
.no-focus-h1 {
  color: var(--color-h1);
  line-height: 83%;
  text-shadow: var(--shadow);
  margin-block-start: 63px;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-weight: var(--font-weight-bold);
}
.no-focus-p {
  font-size: var(--font-size-h2);
  background-color: var(--background-h2-text);
  font-weight: var(--font-weight-bold);
  color:var(--color-h3);
  max-width: 100%;
  width: 355px;
  margin-inline-start: auto;
  margin-top:54px;
}
.main {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.text-1,
.text-2,
.text-3,
.gallery-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.question-text {
  color: var(--color-h3);
  margin-block-end: 10px;
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-bold);
  line-height: 23.4px;
}
.text-1 {
  margin-top:-80px;
}
.content-grid {
  display: grid;
  gap: 15px;
}
.name-text {
  background-color: var(--background-h2-text);
  color: var(--color-h3);
}
.text-main {
  color: var(--color-text);
  font-style: Regular;
  font-size: var(--font-size-base);
}

.link {
  text-shadow: var(--shadow-small);
  text-decoration: none;
  border: 1px solid transparent;
}
.link:hover {
  border-block-end-color: var(--color-text);
}
.link:focus {
  outline: none;
}
.link:focus-visible {
  border-color: var(--color-text);
}

.cards-grid {
  display: grid;
  gap: 20px;
}
.card {
  display: grid;
  gap: 10px;
}
.tips-grid {
  display: grid;
  gap: 20px;
}
.tip-title {
  background-color: var(--accent-color);
  color: var(--color-h3);
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-normal);
}
.gallery-text {
  margin-top:-28px;
  margin-bottom: -10px;
}
.gallery {
  display: grid;
  gap: 10px;
}
.gallery-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.footer {
  display: grid;
  place-items: center;
  min-height: 100vb;
  height: 100%;
  margin-top:50px;
  margin-bottom: 90px;
}
.footer .no-focus-h1 {
  margin-top:-18px;
}
.name-text-normal {
  font-weight: 100px;
  font-style: Regular;
}

@media (min-width: 768px) {
  .page {
    padding: 0px;
  }
  .decorated-zone::before {
    top: 20px;
    right: 20px;
  }

  .decorated-zone::after {
    bottom: 20px;
    left: 20px;
    margin-bottom: 110px;
  }

  .decorated-element {
    top: 20px;
    right: 48px;
  }

  .header {
    padding: 20px;
    margin-block-end:20px;
  }
  .header__theme-menu-list {
    padding-top:24px;
    margin-block-start: 148px;
  }
  .no-focus-h1 {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    margin-inline-start: -20px;
    margin-block-start:169px;
  }
  .no-focus-p {
    max-width: 364px;
    margin-block-start: 162px;
  }
  .main {
    gap: 80px;
    margin-block-end: 60px;
    margin-block-start: -70px;
  }
  .text-1 {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    padding: 0 20px;
    margin-bottom: 0px;
  }
  .text-2 {
    padding: 0px 20px;
    gap:8px;
  }
  .question-text {
    max-width: 236px;
  }
  .text-3 {
    padding: 0 20px;
  }
  .text-3-grid {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
  }
  .gallery-section {
    padding: 0 20px;
  }
  .gallery {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, minmax(100px, auto));
    gap: 20px;
  }
  .gallery-text {
    margin-top:-41px;
  }
  .gallery-img {
    padding-top:6px;
  }
  .gallery-img:nth-child(1) {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
  }

  .gallery-img:nth-child(2) {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
  }

  .gallery-img:nth-child(3) {
    grid-column: 1 / 2;
    grid-row: 2 / 4;
  }

  .gallery-img:nth-child(4) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }

  .gallery-img:nth-child(5) {
    grid-column: 2 / 4;
    grid-row: 3 / 4;
  }

  .footer {
    padding: 20px;
  }

  .footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}
@media (min-width: 1024px) {
  .header__theme-menu {
    justify-self: center;
    align-self: start;
  }
  .header__theme-menu-list {
    flex-direction: row;
    margin-top:-25px;
  }
  .no-focus-h1 {
    margin-top:188px;
  }
  .no-focus-p {
    margin-top:110px;
    min-width: 491px;
  }
  .decorated-zone::after {
    margin-bottom:0px;
  }
  .text-1 {
    margin-top:41px;
    display: grid;
    gap: 10px;
  }
  .question-text {
    min-width: 314px;
  }
  .name-text {
    height: 23px;
  }
  .main {
    gap:82px;
  }
  .text-main {
    padding-top:1px;
  }
  .tips-grid {
    display: grid;
  }
  .cards-grid {
    grid-template-columns: repeat(3, 1fr);
    display: grid;
  }
  .gallery-section{
    margin-top:-8px;
  }
  .footer .no-focus-h1 {
    padding-left:39px;
    padding-top:9px;
  }
  .footer {
    margin-block-end: -30px;
  }
}
