:root {
  --font-family:'IBM Plex mono';
  --font-weight-normal: 400;
  --font-weight-bold: 700;
  --font-size-h1: 157px;
  --font-size-base: 18px;
  --color-h1:#DB00FF;
  --accent-color:#FF0070;
  --font-size-h2:#000028;
  --background-h2-text: #FF0070;
  --color-h3:#FF0070;
  --color-text:#F1B2CE;
  --shadow: 4px 4px 0 var(--accent-color);
  --shadow-small: 2px 2px 0 var(--accent-color);
  --button-hover: rgba(255, 0, 112, 0.4);
  --decor-color:#FF0070;
  --bg-color: #000028;
}